<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJFXlAESHG8yxeE0z1T8VrOU3QmP3T1k4</string>
	<key>GCM_SENDER_ID</key>
	<string>264147484377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csLocationTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>campus-security-app</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-security-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264147484377:ios:621da3cc7b20f27a6108c8</string>
</dict>
</plist>